{% extends "appIndex/header.html" %}

{% block content %}

  <h3>List of colleges</h3>

  <table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Departments</th>
    <th>Email Address</th>
  </tr>
  {% for object in object_list %}
    <tr>
      <td>{{ object.name }}</td>
      <td>{{ object.address }}</td>
      <td>{{ object.departments }}</td>
      <td>{{ object.email }}</td>
    </tr>
  {% endfor %}
  </table>
  
{% include "appIndex/includes/googleMap.html" %}

{% endblock %}	