<!DOCTYPE html>
<html lang="en">

<head>

    <title>Smart City</title>
    <meta charset="utf-8"/>

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'appIndex/css/bootstrap.min.css' %}" type="text/css"/>
    <script src={% static 'appIndex/js/jquery.min.js' %}></script>
    <script src={% static 'appIndex/js/bootstrap.min.js' %}></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style type="text/css">
        html,
        body {
            height: 100%
        }

        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            padding: 5px;
        }

        th {
            text-align: center;
        }

        #map {
            height: 500px;
            width: 100%;
        }
    </style>

</head>

<body class="body" style="background-color:#f6f6f6">

<div class="container" style="min-height:95%;">
    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-pills navbar-right">
                <li><a>Welcome <b>{{ user.get_username }}</b></a></li>
                <li id="changeType" class="dropdown">
                <li><a href='/logout/'>Logout</a></li>

                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">
            <br>
            <center><a href='/index/'>
                <img src="{% static 'appIndex/img/profileBrisbane.jpg' %}"
                     class="responsive-img" style='max-height:120px;'>
            </a></center>
        </div>

        <div class="col-sm-10">
            <br>
            <h2><a href='/index/'>Smart City: Brisbane</a></h2>

            <div id="navbar" ; style="background-color:#fff">

            </div>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-sm-12">
            <div class='container'>
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>


<footer>
    <div class="container">
        <div class="col-sm-12">
            <div class="row">
                <p><a href='/index/'>Home</a> |
                    <a href='/index/contact/'>Contact Us</a> |
                    <a href='/admin/'>Admin Page</a></p>
            </div>
        </div>
    </div>
</footer>

</body>

</html>

<script>
    var userType = '{{ user.get_username }}';
    if (userType.includes('admin')) {
        document.getElementById('navbar').innerHTML = `
            <ul class="nav nav-pills">
            <li><a href='/index/'>Home</a></li>
            <li><a href='/index/college/'>Colleges</a></li>
            <li><a href='/index/library/'>Libraries</a></li>
            <li><a href='/index/industry/'>Industries</a></li>
            <li><a href='/index/hotel/'>Hotels</a></li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown"  href="/#/">
                    City Information<span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href='/index/park/'>Parks</a></li>
                    <li><a href='/index/zoo/'>Zoos</a></li>
                    <li><a href='/index/museum/'>Museums</a></li>
                    <li><a href='/index/restaurant/'>Restaurants</a></li>
                    <li><a href='/index/mall/'>Malls</a></li>
                </ul>
                </li>
            </ul>
        `;
    }
    if (userType.includes('student')) {
        document.getElementById('navbar').innerHTML = `
            <ul class="nav nav-pills">
                <li><a href='/index/'>Home</a></li>
                <li><a href='/index/college/'>Colleges</a></li>
                <li><a href='/index/library/'>Libraries</a></li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="/#/">
                        City Information<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href='/index/park/'>Parks</a></li>
                        <li><a href='/index/zoo/'>Zoos</a></li>
                        <li><a href='/index/museum/'>Museums</a></li>
                        <li><a href='/index/restaurant/'>Restaurants</a></li>
                        <li><a href='/index/mall/'>Malls</a></li>
                    </ul>
                </li>
            </ul>
        `;
    }
    if (userType.includes('tourist')) {
        document.getElementById('navbar').innerHTML = `
            <ul class="nav nav-pills">
                <li><a href='/index/'>Home</a></li>
                <li><a href='/index/hotel/'>Hotels</a></li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="/#/">
                        City Information<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href='/index/park/'>Parks</a></li>
                        <li><a href='/index/zoo/'>Zoos</a></li>
                        <li><a href='/index/museum/'>Museums</a></li>
                        <li><a href='/index/restaurant/'>Restaurants</a></li>
                        <li><a href='/index/mall/'>Malls</a></li>
                    </ul>
                </li>
            </ul>
        `;
    }
    if (userType.includes('business')) {
        document.getElementById('navbar').innerHTML = `
            <ul class="nav nav-pills">
                <li><a href='/index/'>Home</a></li>
                <li><a href='/index/industry/'>Industries</a></li>
                <li><a href='/index/hotel/'>Hotels</a></li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="/#/">
                        City Information<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href='/index/park/'>Parks</a></li>
                        <li><a href='/index/zoo/'>Zoos</a></li>
                        <li><a href='/index/museum/'>Museums</a></li>
                        <li><a href='/index/restaurant/'>Restaurants</a></li>
                        <li><a href='/index/mall/'>Malls</a></li>
                    </ul>
                </li>
            </ul>
        `;
    }
</script>