{% extends "appIndex/header.html" %}

{% block content %}

    <h3>Welcome to Brisbane City</h3>

    Brisbane City offers a discovery in every direction. Home to over 1000 stores, <br>
    including the largest range of flagship boutiques in Queensland, it is the <br>
    state’s premier shopping destination. The Brisbane CBD is also a food and drink <br>
    lovers paradise, with everything from burger joints and riverside bistros, to laneway <br>
    bars and hidden cafes, as well as the most Good Food Guide-awarded venues in Queensland! <br>
    Besides shopping and eating there’s The City Sounds free music program, countless events, <br>
    a cinema, a casino, parks, galleries, performance spaces and even a bowling alley. <br>

    <h5>source: <a href="http://www.visitbrisbane.com.au/the-city?sc_lang=en-au">http://www.visitbrisbane.com
        .au/the-city?sc_lang=en-au</a></h5>

{% endblock %}	