{% extends "appIndex/header.html" %}

{% block content %}

  <h3>List of zoos</h3>

  <table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Phone Numbers</th>
    <th>Email Address</th>
  </tr>
  {% for object in object_list %}
    <tr>
      <td>{{ object.name }}</td>
      <td>{{ object.address }}</td>
      <td>{{ object.phoneNumbers }}</td>
      <td>{{ object.email }}</td>
    </tr>
  {% endfor %}
  </table>

{% include "appIndex/includes/googleMap.html" %}

{% endblock %}	