<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Smart City Sign Out Page</title>

    {% load staticfiles %}

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/form-elements.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

</head>

<body>

<!-- Top content -->
<div class="top-content">

    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3>Cya!</h3>
                        </div>
                    </div>
                    <div class="form-bottom">
                        <h4><font color="white">You are now signed out.</font></h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <p><font color="white">Want to sign back in?</font><a href='/'>Click Here!</a></p>
            </div>
        </div>
    </div>

</div>


<!-- Javascript -->
<script src={% static 'assets/js/jquery-1.11.1.min.js' %}></script>
<script src={% static 'assets/bootstrap/js/bootstrap.min.js' %}></script>
<script src={% static 'assets/js/jquery.backstretch.min.js' %}></script>
<script src={% static 'assets/js/scripts.js' %}></script>

</body>

</html>