<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Smart City Sign Up</title>

    {% load staticfiles %}

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/form-elements.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

</head>

<body>

<!-- Top content -->
<div class="top-content">

    <div class="inner-bg">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text">
                    <h1><strong>Create an Account!</strong></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 form-box">
                    <div class="form-top">
                        <div class="form-top-left">
                            <h3>Register</h3>
                        </div>
                    </div>
                    <div class="form-bottom">
                        <form role="form" action="" method="post" class="register-form">
							{% csrf_token %}
                            <div class="form-group">
                                <label class="sr-only" for="form-name">Name</label>
                                <input type="text" name="form-name" placeholder="Name" class="form-name form-control"
                                       id="form-name">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-username">Username</label>
                                <input type="text" name="form-username" placeholder="Username"
                                       class="form-username form-control"
                                       id="form-username">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-password">Password</label>
                                <input type="password" name="form-password" placeholder="Password"
                                       class="form-password form-control"
                                       id="form-password">
                            </div>
							<div class="form-group">
                                <label class="sr-only" for="form-password2">Password</label>
                                <input type="password" name="form-password2" placeholder="Re-enter Password"
                                       class="form-password2 form-control"
                                       id="form-password2">
                            </div>
                            <div class="form-group"><font color="white">
                                Type of user:
                                <input type="radio" name="user-type" value="tourist" checked> Tourist
                                <input type="radio" name="user-type" value="student"> Student
                                <input type="radio" name="user-type" value="business"> Business
                            </div>
                            </font>
                            <font color="white">Additional Information:</font>
                            <div class="form-group">
                                <label class="sr-only" for="form-number">Phone Number</label>
                                <input type="text" name="form-number" placeholder="Phone Number"
                                       class="form-number form-control"
                                       id="form-number">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-email">Email</label>
                                <input type="email" name="form-email" placeholder="Email"
                                       class="form-email form-control"
                                       id="form-email">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="form-address">Residential Address</label>
                                <input type="text" name="form-address" placeholder="Residential Address"
                                       class="form-address form-control" id="form-address">
                            </div>
                            <button type="submit" class="btn">Sign Up!</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <p><font color="white">Already have an account? </font><a href='/'>Click Here!</a></p>
            </div>
        </div>
    </div>

</div>


<!-- Javascript -->
<script src={% static 'assets/js/jquery-1.11.1.min.js' %}></script>
<script src={% static 'assets/bootstrap/js/bootstrap.min.js' %}></script>
<script src={% static 'assets/js/jquery.backstretch.min.js' %}></script>
<script src={% static 'assets/js/scripts.js' %}></script>

</body>

</html>