{% block content %}

  <br>
  <div id="map"></div>
  <script>
    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 10,
        center: {lat: -27.470446, lng: 153.024777}
      });

      {% for object in object_list %}
        var marker = new google.maps.Marker({
          position: {lat: {{ object.latitude }}, lng: {{ object.longitude }}},
          map: map,
          title: '{{ object.name }}'
        });
      {% endfor %}
    }
  </script>

  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfS03anpZOgmay_j_BwdBGmDWms5k4Naw&callback=initMap">
  </script>

{% endblock %}	